{% extends "base.html" %}

{% block h1_header %}
Sobre mí
{% endblock h1_header %}

{% block main %}
{% block content %}
<p>¡Hola! Mi nombre es Ludmila Gioia; tengo 24 años.</p>
    <p>Hace un año aproximadamente arranque mi camino dentro del mundo IT,durante mucho tiempo trabaje en gastronomia con ganas de emprender un nuevo camino decidi,probar con otra perspectiva,actualmente me encuentro estudiando diferentes tecnologias y herramientas,arranque estudiando de forma autodidacta sobre las pruebas de software y QA, decidi realizar un curso sobre QA Tester Manual,Tambien decidi realizar este curso de Python ya que me proporciona una introducción sólida a la programación y sus principios fundamentos, lo que facilita la comprensión de otros lenguajes y abre oportunidades en una amplia gama de campos,actualmente me encuentro cursando dentro del programa codo a codo para ser Full Stack.</p>
    <p>Espero que les haya gustado esta breve descripcion sobre mi !</p>
{% endblock content %}
{% endblock main %}
