{% extends "base.html" %}
{% block header %}
<h1>Cargar horarios</h1>
{% endblock header %}
{% block main %}
<form action="{% url 'crear_horario' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
        {% if form.instance.imagen %}
        <tr>
            <th>Imagen:</th>
            <td><img src="{{ form.instance.imagen.url }}" alt="Imagen de horario"></td>
        </tr>
        {% endif %}
    </table>
    <input type="submit" value="Cargar Horas">
</form>

{% endblock main %}
